<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - Datasektionen Docs</title>
        <link rel="stylesheet" href="~/static/css/compiled.css" />
    </head>
    <body>
        <div id="methone-container-replace"></div>
        <div id="methone-pushdown"></div>
        <div id="application" class="blue">
            @RenderBody()
        </div>

        <script type="text/javascript">
          window.tbaas_conf = {
            system_name: "aurora",
            target_id: "methone-container-replace",
            primary_color: "#2196f3",
            secondary_color: "white",
            topbar_items: [
              {
                str: "Dokumentation",
                href: "/",
              },
              {
                  str: "Kom igång",
                  href: "/docs/getting-started/",
              },
              {
                  str: "API:er",
                  href: "/docs/api/",
              },
              {
                  str: "User Interface",
                  href: "/docs/ui/",
              }
            ]
          }
        </script>

        <script async src="http://methone.datasektionen.se"></script>
    </body>
</html>
