@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@foreach (string s in "1,2,3".Split(','))
{
    @: s is equal to @s<br />
}