#content {
  .contain;
  padding: 40px 50px;
  background: #fff;

  h1 { font-size: 32px; margin: 10px 0; padding: 0 0 10px; border-bottom: 1px solid #f3f3f3; }
  h2 { font-size: 20px; color: @body_text_color; margin: 25px 0 10px; padding: 0 0 10px; border-bottom: 1px solid #f7f7f7; }
  p, ul, ol { font-size: 16px; line-height: 1.6; color: @body_text_color; }
  code { color: #696969; background: @light; border: 1px solid #f0f0f0; padding: 3px; font-size: 14px; }
  pre code {
    font-size: 15px;
    display: block;
    padding: 10px;
  }

  #secondary-nav {
    h3 {
      display: block;
      background: @light;
      text-transform: uppercase;
      color: @text_color;
      font-size: 16px;
      padding: 6px;
      text-align: center;
      font-weight: 700;
      margin: 8px 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li a {
        display: block;
        padding: 5px 1px;
        padding-top: 6px;
        font-size: 15px;
        border-bottom: 1px solid #eee;
      }
    }
  }

  #sidebar {
    background: @ultra_light;
    h2 { font-size: 1em; }
    ul, ol, p { font-size: 0.9em; }
    h2, ul, ol, p { color: lighten(@body_text_color, 15); }
  }
}