#content table {
  font-size: 15px;

  border: 1px solid @light;

  tbody tr:nth-child(odd) {
    background: @light;
  }

  thead th { padding: 10px; }
  td { padding: 10px; color: lighten(@body_text_color, 15); text-align: left; }
}