// UI Framework for Datsektionen apps
// Under development, will be cleaned up and packaged later on

@import "variables.less";
@import "grid.less";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,900);

* {
  transition: all 0.25s;
  box-sizing: border-box;
}

body {
    background: @body_background;
    font-family: @font_family;
    font-size: @font_size;
    margin: 0;
}

a {
    color: @body_text_color;
    text-decoration: none;
}

.clear {
    clear: both;
}

button, .button {
    display: inline-block;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-right: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    transition: all .2s ease-out;
    will-change: opacity, transform;

    &:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }

    &.subtle, .subtle {
        font-weight: 300;
        &, &:hover {
            box-shadow: none;
        }
    }
    &.primary-action, .primary-action {
        font-weight: 700;
    }
}

.contain {
    max-width: 1240px;
    margin: 0 auto;
}

.contain-tight {
    max-width: 1140px;
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

hr {
    border: none;
    border-top: 2px solid #eee;
    margin: 20px 0;
}

#application {
    padding-top: 50px;
}