.generate-color-scheme(
    @lighten-5, @lighten-4, @lighten-3, @lighten-2, @lighten-1,
    @theme-color, @darken-1, @darken-2, @darken-3, @darken-4, @btn-color
) {

    .lighten-5  	    { background: @lighten-5; }
    .lighten-4  	    { background: @lighten-4; }
    .lighten-3          { background: @lighten-3; }
    .lighten-2          { background: @lighten-2; }
    .lighten-1          { background: @lighten-1; }
    .theme-color        { background: @theme-color; }
    .darken-1           { background: @darken-1; }
    .darken-2           { background: @darken-2; }
    .darken-3           { background: @darken-3; }
    .darken-4           { background: @darken-4; }
    .text-lighten-5     { color: @lighten-5; }
    .text-lighten-4     { color: @lighten-4; }
    .text-lighten-3     { color: @lighten-3; }
    .text-lighten-2     { color: @lighten-2; }
    .text-lighten-1     { color: @lighten-1; }
    .text-theme-color   { color: @theme-color; }
    .text-darken-1      { color: @darken-1; }
    .text-darken-2      { color: @darken-2; }
    .text-darken-3      { color: @darken-3; }
    .text-darken-4      { color: @darken-4; }
    .btn-color          { color: @btn-color; }

    header {
        .lighten-1;
        a { .btn-color; }
        a.primary-action { .darken-1; }
        h2 { .btn-color; }
        .header-right span { .text-lighten-5; }
        @media (max-width: 991px) { .header-left { .theme-color; }}
    }

    .button.theme-color:hover { .lighten-2 !important; }

    #content {
        h1 { .text-theme-color; }
    }

}