// UI Framework for Datsektionen apps
// Under development, will be cleaned up and packaged later on

@import "variables.less";
@import "generators.less";
@import "grid.less";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,900);

* {
  transition: all 0.25s;
  box-sizing: border-box;
}

body {
    background: @body_background;
    font-family: @font_family;
    font-size: @font_size;
    margin: 0;
}

a {
    color: @body_text_color;
    text-decoration: none;
}

.clear {
    clear: both;
}

button, .button {
    display: inline-block;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-right: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    transition: all .2s ease-out;
    will-change: opacity, transform;

    &:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }

    &.subtle, .subtle {
        font-weight: 300;
        &, &:hover {
            box-shadow: none;
        }
    }
    &.primary-action, .primary-action {
        font-weight: 700;
    }
}

.contain {
    max-width: 1240px;
    margin: 0 auto;
}

.contain-tight {
    max-width: 1140px;
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

hr {
    border: none;
    border-top: 2px solid #eee;
    margin: 20px 0;
}

#application {
    padding-top: 50px;

    header {
        box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 20;

        .header-inner {
            padding: 0 15px;
            .contain-tight;

            .header-left, .header-right { a { .button; margin-top: 30px; } }
            .header-left a { .button.subtle; }

            @media (max-width: 991px) {
                .header-right { display: none; }
                .header-left a {
                    display: block;
                    padding: 12px 20px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 0;
                }
            }

            .header-right {
                float: right;
                .align-right;
                a.button { .button.primary-action; }
                span {
                    font-weight: 300;
                    font-size: 15px;
                    display: inline-block;
                    padding: 2px 10px;
                }
            }
            
            h2 {
                margin: 0;
                padding: 25px 0;
                display: block;
                font-size: 42px;
                text-align: center;
            }
        }
    }

    #content {
        .contain;
        padding: 40px 50px;
        background: #fff;

        h1 { font-size: 32px; margin: 10px 0; padding: 0; }
        h2 { font-size: 20px; color: @body_text_color; margin: 10px 0; padding: 0; }
        p, ul, ol { font-size: 16px; line-height: 1.6; color: @body_text_color; }
        code { color: #696969; background: @light; border: 1px solid #f0f0f0; padding: 10px; font-size: 15px; display: block; }

        #secondary-nav {
            h3 {
                display: block;
                background: @light;
                text-transform: uppercase;
                color: @text_color;
                font-size: 16px;
                padding: 6px;
                text-align: center;
                font-weight: 700;
                margin: 8px 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li a {
                    display: block;
                    padding: 5px 1px;
                    padding-top: 6px;
                    font-size: 15px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
}